# KONEKSI DATABASE (MySQL)
DATABASE_URL="mysql://root@localhost:3306/prototype_disporapar"

# KONFIGURASI KEAMANAN & AUTENTIKASI (NextAuth)
NEXTAUTH_SECRET="f38ad8ec7f96b9967114b0b1464ee8c4d115456fef38f15891469e38d77bfdbf"
NEXTAUTH_URL="http://localhost:3000"
